<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title: locals.title ? title : 'Error' }) %>
  </head>
  <body>
    <a href="/">Home</a>
    <p class="error">
      <%= locals.message ? message : 'Oops, something went wrong!' %>
    </p>
  </body>
</html>
